* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 1.3rem;
}

.container {
  width: 80%;
  margin: auto;
}

/* nav bar and hero section */
.top-nav {
  background: rgba(0, 0, 0, 0.836);
  position: fixed;
  width: 100vw;
  color: white;
  /* top: 0; */
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu ul li {
  margin-left: 1rem;
}

.menu ul li:hover {
  cursor: pointer;
  color: red;
}

.hero {
  background: url(https://images.unsplash.com/photo-1618588507085-c79565432917?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1195&q=80)
    no-repeat center;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: -2;
}

.round {
  width: 100px;
  height: 100px;
  background: linear-gradient(red, yellow);
  border-radius: 50%;
  position: relative;
  left: 51px;
  top: 94px;
  z-index: -1;
}
.hero-content {
  background: rgba(0, 0, 0, 0.395);
  width: 450px;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;

  backdrop-filter: blur(5px);
}

/* images */
.img1 {
  background: url(https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
    no-repeat center center;
  background-size: cover;
  min-height: 60vh;
}
.img2 {
  background: url(https://images.unsplash.com/photo-1611771341253-dadb347165a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
    no-repeat center center;
  background-size: cover;
  min-height: 60vh;
}
.img3 {
  background: url(https://images.unsplash.com/photo-1600417144323-4b616efd9bdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80)
    no-repeat center center;
  background-size: cover;
  min-height: 60vh;
}
.img4 {
  background: url(https://images.unsplash.com/photo-1618588507085-c79565432917?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1195&q=80)
    no-repeat center center;
  background-size: cover;
  min-height: 60vh;
}

.img1,
.img2,
.img3,
.img4 {
  display: flex;
  justify-content: center;
  align-items: center;

  background-attachment: fixed;
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.74);
  color: white;
  padding: 2rem 6rem;
  border-radius: 5px;
}

.down-arrow {
  font-size: 3rem;

  position: absolute;

  bottom: 50px;
  color: yellow;
  transform: rotate(90deg);
  font-weight: bolder;

  animation: go-down 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@keyframes go-down {
  0% {
    bottom: 100px;
    color: yellow;
  }
  50% {
    color: red;
  }
  100% {
    bottom: 10px;
    color: purple;
  }
}
